/* Allow users in wheel group to manage Acer Nitro hardware without password */
polkit.addRule(function(action, subject) {
    if (action.id == "io.github.felipeasp.omanitro.control" && subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
